* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 0.75fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: rgb(255, 255, 255);
}

.nav-bar {
  grid-row: 1/5;
  grid-column: 1/2;
  background-color: #38bdf8;
  padding-top: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 6fr minmax(1fr, 2rem) 3fr 1fr;
  position: relative;
  z-index: 20;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-row: 1/2;
}
.header img {
  width: calc(24px + 1.5vw);
  height: auto;
  margin-right: 0.5rem;
  filter: invert(100%);
}
.header h1 {
  font-size: calc(20px + 0.5vw);
  font-family: Roboto, Helvetica, sans-serif;
  color: white;
}

.nav-bar .nav-list {
  padding-left: 0.45rem;
  grid-row: 3/5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav-bar .nav-list .nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.nav-bar .nav-list .nav-items img {
  width: calc(22px + 0.5vw);
  height: auto;
  margin-right: 0.4rem;
  filter: invert(100%);
}
.nav-bar .nav-list .nav-items h2 {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  font-size: 20px;
}
.nav-bar .nav-acc-list {
  padding-left: 0.4rem;
  grid-row: 5/7;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav-bar .nav-acc-list .nav-acc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.nav-bar .nav-acc-list .nav-acc img {
  width: calc(22px + 0.5vw);
  height: auto;
  margin-right: 0.4rem;
  filter: invert(100%);
}
.nav-bar .nav-acc-list .nav-acc h2 {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  font-size: 20px;
}

.profile {
  grid-row: 1/2;
  grid-column: 2/4;
  background-color: rgb(250, 253, 255);
  box-shadow: 0 6px 4px -4px black;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 2rem;
  padding-top: 0.75rem;
  padding-right: 2rem;
  position: relative;
  z-index: 10;
  box-shadow: 0px 5px 5px rgba(46, 46, 46, 0.358);
}

.upper-prof {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.upper-prof img {
  height: auto;
  width: 25px;
  height: auto;
  margin-right: 1rem;
}
.upper-prof .search-container {
  background: rgb(195, 208, 215);
  height: 10px;
  border-radius: 30px;
  padding: 10px 10px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  color: white;
}
.upper-prof .search-container .search-input {
  border: none;
  background: transparent;
  outline: none;
  color: rgb(86, 86, 86);
  font-family: Roboto, Helvetica, sans-serif;
  width: 100%;
}

.lower-prof {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
}
.lower-prof .prof-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.lower-prof .prof-info span {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.lower-prof .prof-info h2 {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.upper-prof-misc {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 1rem;
}
.upper-prof-misc img {
  height: auto;
  width: 25px;
}
.upper-prof-misc svg {
  height: 50px;
  width: 50px;
}
.upper-prof-misc span {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 600;
}

.lower-prof-misc {
  grid-area: 2/2/3/3;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 2rem;
  padding-bottom: 1rem;
}
.lower-prof-misc button {
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 50px;
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #0b94cf;
}

.main-content {
  grid-row: 2/5;
  grid-column: 2/4;
  background-color: #c6dce8;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
}
.main-content .projs-container {
  width: 70%;
  height: 90%;
}
.main-content .projs-container span {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.main-content .projs-container .projs {
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  gap: 1rem;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
.main-content .projs-container .projs .proj-box {
  width: 43%;
  height: 10rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: linear-gradient(to left, #f0f0f0 97%, #4e4e4e 80%, #be1f1f 90%, rgba(255, 113, 113, 0.7921568627) 5%);
  border-radius: 8px;
  box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, 0.329);
}
.main-content .projs-container .projs .proj-box h3 {
  font-family: Roboto, Helvetica, sans-serif;
}
.main-content .projs-container .projs .proj-box p {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  height: 6rem;
  color: #535353;
}
.main-content .projs-container .projs .proj-box .icon-container {
  display: flex;
  gap: 0.75rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.main-content .projs-container .projs .proj-box .icon-container .img-box {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .projs-container .projs .proj-box .icon-container img {
  width: 20px;
  height: auto;
  transition-duration: 0.2s;
}
.main-content .projs-container .projs .proj-box .icon-container img:hover {
  width: 23px;
  height: auto;
}
.main-content .news-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: flex-start;
  justify-content: flex-start;
}
.main-content .news-container span {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.main-content .news-container .announcements {
  width: 80%;
  height: 35%;
  background-color: #f0f0f0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  overflow: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.329);
}
.main-content .news-container .announcements .flex-item {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  justify-content: center;
}
.main-content .news-container .announcements .flex-item + .flex-item {
  border-top: solid 1px rgb(54, 54, 54);
}
.main-content .news-container .announcements h3 {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  padding-bottom: 0.25rem;
}
.main-content .news-container .announcements p {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 10px;
  color: #535353;
}
.main-content .news-container .trending {
  width: 80%;
  height: 35%;
  background-color: #f0f0f0;
  padding-top: 0.5rem;
  padding-bottom: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.329);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-content .news-container .trending .trend-box {
  padding: 0;
}
.main-content .news-container .trending .trend-box .info {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
}
.main-content .news-container .trending .trend-box .info span {
  font-size: 14px;
  font-family: Roboto, Helvetica, sans-serif;
}
.main-content .news-container .trending .trend-box .info p {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 12px;
  color: grey;
}
.main-content .news-container .trending .trend-box img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  zoom: 80%;
  padding: 0;
}
.main-content .news-container .trending .trend-box #arrow {
  width: 40px;
  height: 40px;
  margin-left: auto;
  filter: invert(80%);
  transition-duration: 0.15s;
}
.main-content .news-container .trending .trend-box #arrow:hover {
  filter: invert(20%);
}

/*# sourceMappingURL=output.css.map */
